@use "../abstracts/type";
@use "../abstracts/colour";

html {
  box-sizing: border-box;
  font-size: type.$base;
}

body {
  font-family: type.$body;
  font-size: type.$root;
  color: colour.$dark;
}

.layout-container {
  max-width: 80rem;
  margin: auto;
}
