html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-family-body;
  font-size: $font-size;
  color: $color-dark;
}

.layout-container {
  max-width: 80rem;
  margin: auto;
}