// Colors
$dark: #000 !default;
$light: #FFF !default;
$primary: #EF5E5F !default;
$secondary: #EF5E5F !default;
$highlight: #EF5E5F !default;

$error: #EB5353 !default;
$warning: #FFA500 !default;
$success: #6DB594 !default;
