@use "sass:map";

@mixin spread {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

//
//   z-index
//   Ordered from layer-one to layer-six.
//   Layer-one is equal to the highest z-index.
//   Layer-six is equal to the lowest z-index.
//   For example, to set highest z-index use:
//   z-index: z-index(layer-one);
//
$zindex: (
  layer-one   : 5,
  layer-two   : 4,
  layer-three : 3,
  layer-four  : 2,
  layer-five  : 1,
  layer-six   : -1
);

@function z-index($layer) {
  @if not map.has-key($zindex, $layer) {
    @warn "No layer found for `#{$layer}` in $zindex map. Property omitted.";
  }

  @return map.get($zindex, $layer);
}
