// Set the base font-size to allow better rem usability.
// 1rem = 10px, 1.5rem = 15px, 2rem = 20px etc.
$font-base: 62.5%;
$font-size: 1.6rem; // 16px

$font-family-body: "Source Sans Pro", sans-serif;

$font-size-small: 1.2rem;
$font-size-small-regular: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-regular-medium: 1.8rem;
$font-size-medium: 2rem;
$font-size-medium-large: 2.2rem;
$font-size-large: 3rem;

$line-height-smallest: 1.25;
$line-height-small: 1.3;
$line-height-regular: 1.5;
$line-height-large: 1.6;

// Font Weights & Examples
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Colors
$color-dark: #000;
$color-light: #FFF;
$color-primary: #EF5E5F;

$color-message-error: #EB5353;
$color-message-warning: #FFA500;
$color-message-success: #6DB594;

// Breakpoints
// We use EM for breakpoints to maintain consistency in all browsers.

// 480px
$breakpoint-small: "only screen and (max-width: 30em)";
// 960px
$breakpoint-medium: "only screen and (max-width: 60em)";
// 1200px
$breakpoint-large: "only screen and (max-width: 75em)";
