@use "../abstracts/colour";
@use "../abstracts/type";

.message {
  background-color: #F9F9F9;
  padding: 2rem;
  margin: 2rem auto;
  color: colour.$light;

  a {
    color: colour.$light;
    font-weight: type.$semi-bold;
  }
}

.message--error {
  background-color: colour.$error;
}

.message--warning {
  background-color: colour.$warning;
}

.message--status {
  background-color: colour.$success;
}

// List item if many messages

.message__item {
  margin-bottom: 1rem;
  color: colour.$light;
}
