@use "../abstracts/variables";

.message {
  background-color: #F9F9F9;
  padding: 2rem;
  margin: 2rem auto;
  color: variables.$color-light;

  a {
    color: variables.$color-light;
    font-weight: variables.$font-weight-semi-bold;
  }
}

.message--error {
  background-color: variables.$color-message-error;
}

.message--warning {
  background-color: variables.$color-message-warning;
}

.message--status {
  background-color: variables.$color-message-success;
}

// List item if many messages

.message__item {
  margin-bottom: 1rem;
  color: variables.$color-light;
}
